#a{
color:dimgray;
font-size:72px;
}
#b{
color:gray;
font-size:48px;
}
#c{
color:darkgray;
font-size:32px;
}
#d{
color:silver;
font-size:24px;
}
#e{
color:lightgray;
font-size:16px;
}
p{
  margin:0px;
  font-family:verdana;
}
